

body {
  margin: 0;
  font-family: 'Times New Roman', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: Times New Roman, Monaco, Consolas, 'Courier New',
  monospace;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  background-image: url("./images/images.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 400px;
}

.input {
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1.2rem;
  color: #741e1e;
}

.button {
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0000ff;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.object {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
  color: #741e1e;
  font-size: 1.2rem;
  text-align: left;
  transform: rotate(-5deg);
  transition: all 0.2s ease;
}

.object:hover {
  transform: rotate(5deg); }

.title {
  color: white;
  text-shadow: -1px -1px 0 #741e1e, 1px -1px 0 #741e1e, -1px 1px 0 #741e1e, 1px 1px 0 #741e1e;
}

